
__pycache__/
.conda/

model_fast/*
!model_fast/*.txt
!model_fast/

models/*
!models/*.txt
!models/

DIV2K_img/*.png

output_fast/*
plot/*

test_set2/
test_set3/

modifica_score.py
calcolo_medie.py
convert_csv.py
*.csv
